<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mobilecourseproject.poliapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
      GET_ACCOUNTS is only required for GCM on devices running Android lower than
      4.0.4. You may leave out this permission if you are targetting 4.0.4+.
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="it.polito.mobilecourseproject.poliapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="it.polito.mobilecourseproject.poliapp.permission.C2D_MESSAGE" />

    <application
        android:name=".PoliApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="WY7akYTncIqmxnem30lY0YxNljh6PkYqUtbsVx6L" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="VydnpHbUe5vMtLbvY3P79iByFRilB5KFipYp2jeq" />
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/BlueBackgroundTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WhiteBackgroundTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".CompanyMainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".noticeboard.AddNoticeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditBasicInfoActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditAboutMeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditLanguagesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditJobExperiencesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditProfessionalHeadlineActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditEducationsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditOtherActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".profile.ProfileEditSkillsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".profile.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />

        <activity
            android:name=".jobs.JobOfferDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeBlueStatusBar"
            />
        <activity
            android:name=".noticeboard.NoticeDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".utils.imagezoomcrop.ImageCropActivity"
            android:label="Choose a picture" />
        <activity
            android:name=".ImageDetailActivity"
            android:label="Image" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".messages.AddChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_chat"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".messages.AddGroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_group"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".messages.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".time_schedule.InfoLecture"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name=".time_schedule.NoEvent"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!-- NOTIFICHE PUSH -->

        <service android:name="com.parse.PushService" />
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>-->
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="it.polito.mobilecourseproject.poliapp" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="it.polito.mobilecourseproject.poliapp.time_schedule.ReceiverNotification"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!-- NOTIFICHE PUSH -->

        <service
            android:name=".messages.MessageService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".messages.OnBootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
